<h1>Your results</h1>
<h2>Your word: <%= @word %></h2>
<h2>Time taken to answer: <%= @time %></h2>
<h2>Message: <%= @check %></h2>
<h2>Your score: <%= @score %></h2>
<%= link_to "Play again", new_path %>
